<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"> 

    <!-- bean definitions here -->
    <context:component-scan base-package="com.lexie.ioc"/>
	
	<bean id="mySchool" class="com.lexie.ioc.School">
		<property name="name" value="清华大学"></property>
	</bean>
	<bean id="mySchool2" class="com.lexie.ioc.School">
		<property name="name" value="北京大学"></property>
	</bean>
	
	<bean id="mySome" class="com.lexie.ioc.Some">
		<property name="schools">
			<array>
				<ref bean="mySchool"/>
				<ref bean="mySchool2"/>
			</array>
		</property>
		<property name="myStrs" value="中国,北京">
		</property>
		<property name="myList" value="大兴,亦庄">
		</property>
		<property name="mySet" value="大族企业,10号楼">
		</property>
		<property name="myMap">
			<map>
				<entry key="moblie" value="1234567"/>
				<entry key="qq" value="789456"/>
			</map>
		</property>
		<property name="myPros">
			<props>
				<prop key="education">大学</prop>
				<prop key="gender">男</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- spel表达式可以访问方法，可以使用bean的属性，方法 -->
	<!-- <bean id="myPerson" class="com.lexie.ioc.Person">
		<property name="pname" value="李踏青"></property>
		<property name="page" value="#{T(java.lang.Math).random()*50}"/>
	</bean>
	<bean id="myStudent" class="com.lexie.ioc.Student">
		<property name="sname" value="#{myPerson.pname}"></property>
		<property name="sage" value="#{myPerson.page}"/>
	</bean> -->
	
	
</beans>